
*{
    padding:0;
    margin:0;
}
.body{
    font-family:sans-serif;
    line-height:1.4;
}

.product{
    border:4px black solid;
    width:825px;
    margin:50px auto;
}

.product-title{
    text-align: center;
    text-transform:uppercase;
    font-size: 22;
    background-color:#f7f7f7;
    padding:15;
}

.price{
    font-size: 24px;
}

.shipping{
    text-transform: uppercase;
    font-size: 12px;
    font-weight:bold;
    color:#777;
    margin-bottom: 15;

}

.more-info:hover{
    text-decoration: none;

}
.more-info:visited{
    color:black;
}

.dtail-title{
    text-transform: uppercase;
    text-align:center;
    font-size:16;
    margin-bottom: 15;
    margin-top: 30;
}
.detail-list{
    list-style:square;
    margin-left: 10;
}
.detail-list li{
    margin-bottom: 10;
}

.add-cart{
    background:black;
    color:white;
    font-weight: bold;
    font-size: 20;
    cursor:pointer;
    border:none;
    padding:15;
    width:100%;

}
.add-cart:hover{
    background-color: white;
    color:black;
    border-top:4px black solid;

}
