

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.body{
    font-family:sans-serif;
    line-height:1.4;
}


.product-img{  /*the first region*/ 
     margin-right:40px;
}

.product{
    border:4px black solid;
    width:825px;
    margin:50px auto;
    position: relative;

    display:grid;
    grid-template-columns: 250 1fr 1fr;
    column-gap:40px;
}

.product-title{
    text-align: center;
    text-transform:uppercase;
    font-size: 22;
    background-color:#f7f7f7;
    padding:15;
    grid-column: 1 / -1;
}


.product-info{  /*the second region*/
    /*(825- 8for border - 250for img - 80for two margin)/2=243.5 */
     /* you calc the width and the direction of float*/

    flex:1;
    margin-top: 20px;


}

.product-price{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.price{
    font-size: 24px;
 }

.shipping{
    text-transform: uppercase;
    font-size: 12px;
    font-weight:bold;
    color:#777;
 
}


.sale{
    background-color: red;
    color:white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight:bold;
    padding: 7px 15px;   /*width=double height*/
    letter-spacing: 2px;
    display:inline-block;
    position:absolute; /* عملنا الكلاس الخاص ب product:relative; */
    top:-17;
    left:-38; /*put random values until center it*/

}


.product-description{
     /*this clear after float to fix it*/
     margin-bottom: 10px;
}

.more-info:hover{
    text-decoration: none;

}
.more-info:link, .more-info:visited{
    color:black;
    margin-bottom:30px;
    display:inline-block;
}

.product-colors {
    display: flex;
    gap:10px;
}
.color{       /*this is like the parent div and the other divs will take their attributes from it,but with changed in backgroung-color*/
    background-color: black;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin: 5px;
 
} 

.color-blue{
    background-color: blue;
}
.color-red{
    background-color:red;
}
.color-yellow{
    background-color:yellow;


}
.color-green{
    background-color: green;
}
.color-brown{
    background-color: brown;
}


.product-details{  /*the third region*/
      /* you calc the width and the direction of float*/

     margin-top: 20px;
     flex:1;

}

.details-title{
    text-transform: uppercase;
    text-align:center;
    font-size:16;
    margin-bottom: 20;
    margin-top: 30px ;
}
.details-list{
    list-style:square;
    margin-left: 10;
}
.detail-list li{
    margin-bottom: 10;
}

.add-cart{
    background:black;
    color:white;
    font-weight: bold;
    font-size: 20;
    cursor:pointer;
    border:none;
    padding:15;
    width:100%;
    grid-column: 1 / -1;

}
.add-cart:hover{
    background-color: white;
    color:black;
    border-top:4px black solid;

}